{
    "printWidth": 120,
    "trailingComma": "all",
    "singleQuote": true,
    "arrowParens": "avoid",
    "semi": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "useTabs": true,
    "tabWidth": 4
}